@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #434447;
}
#ptable{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(10, 1fr);
    padding: 10px;
}
.noTransition{
    transition: none;
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.element:hover img{
    animation-duration: 2s;
    animation-name: rotating;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation: alternate;
    z-index: 15;

    
    
}
.element:hover{
    z-index: 15;
    transform: scale(0.1) translate(2px, 2px);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #3c3c3f;
    border: 0px;



}
.element img {
    animation-name: rotating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation: alternate;
    position: relative;
    float: right;
    width: 50px!important;
    height: 50px!important;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    fill: #3c3c3f;
}

.element p {
    margin-left: 5px;
    font-size: 1em;
    min-width: 50%;
    max-width: 50%;

}

.element {
    
    transition: all 0.2s ease-out;
    margin: 0.2vw;
    overflow: hidden;
    cursor: pointer;
    height: 5vw;
    width: 5vw;
    box-sizing: border-box;
    background: linear-gradient(139.82deg, rgba(111, 111, 111, 0.4) 6.83%, rgba(171, 171, 171, 0.156) 163.81%);
    border: 0.5px solid #AAAAAA;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    /* justify-content: flex-end; */
    font-family: 'MuseoModerno', cursive;
    color: white
}

#title {
    width: 100%;
    text-align: center;
    font: 5vh 'Stick No Bills', cursive;
    color: white;
}

#popOut{
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: linear-gradient(139.82deg, rgba(160, 160, 160, 0.48) 6.83%, rgba(171, 171, 171, 0.3198) 163.81%);

    z-index: 100;
    /*display: ;*/
    border: 1px solid #AAAAAA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 13px;
    padding: 10px;
}
#elementName{
    width: 100%;
    height: 10%;
    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#elementNameText{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}
#littleElement{
    /*    top left*/
    position: relative;
    top: 1.5vh;
    left: 1.5vh;
    width: 8.5vh;
    height: 8.5vh;
    background: linear-gradient(139.82deg, rgba(111, 111, 111, 0.4) 6.83%, rgba(171, 171, 171, 0.156) 163.81%);
    border: 1px solid #AAAAAA;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;

}
#chatInputText:focus{
    outline: none;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0px 4px rgba(230, 230, 230, 0.25);
}

#chatTextP{
    text-wrap: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: scroll;
    font: 1.5vh 'MuseoModerno', cursive;
    color: white;
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 3.8vh;
}
*::selection{
    transition: 0.3s;
    background: transparent;
    color: #1a67ff;
    text-blink: 0.3s;
}
#chatTextP::-webkit-scrollbar {
    display: none;
}
#summary{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#summaryTitle{
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    height: 10%;
    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font: 35px 'Stick No Bills', cursive;
    color: white;
}
#atom_model{
    position: absolute;
    top: 50%;
    left: 5%;
    margin-bottom: 10px;

}
#summaryText{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font: 15px 'Stick No Bills', cursive;
    color: white;
}
#reallifeTitle{
    position: absolute;
    top: 40%;
    left: 25%;
    width: 100%;
    height: 10%;
    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font: 35px 'Stick No Bills', cursive;
    color: white;
}
#reallifeText{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    height: 70%;
    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font: 15px 'Stick No Bills', cursive;
    color: white;
}
#onTitle{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}
#chatInputText:focus{
    outline: none;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0px 4px rgba(230, 230, 230, 0.25);
}

#chatTextP{
    text-wrap: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: scroll;
    font: 1.5vh 'MuseoModerno', cursive;
    color: white;
    letter-spacing: 0.2em;
}
*::selection{
    transition: 0.3s;
    background: transparent;
    color: #1a67ff;
    text-blink: 0.3s;
}
#chatTextP::-webkit-scrollbar {
    display: none;
}
.element:hover img{

    animation: rotating 2s linear infinite;
}
.element:hover{
    transform: scale(1.5);
    background-color: #3c3c3f;
}
.element img {
    animation: rotating 5s linear infinite;
    position: relative;
    float: right;
    width: 80%;
    height: 80%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    
}

.element p {
    min-width: 50%;
    max-width: 50%;

}

#title {
    width: 100%;
    text-align: center;
    font: 5vh 'Stick No Bills', cursive;
    color: white;
}
#popOut{
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    /*background: linear-gradient(139.82deg, rgba(160, 160, 160, 0.48) 6.83%, rgb a(171, 171, 171, 0.3198) 163.81%);*/

    z-index: 100;
    /*display: ;*/
    border: 1px solid #AAAAAA;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 13px;
    padding: 10px;
}
#elementName{
    width: 100%;
    height: 10%;
    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#elementNameText{
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}
#elementAtomicNumber{
    position: absolute;
    top: 0vh;
    left: 1vh;
    width: 5.5vw;
    height: 5.5vw;
    align-items: center;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
}
#elementAtomicMass{
    position: absolute;
    top: 1.7vh;
    left: 6.2vw;

    /*background: #434447;*/
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font: 15px 'Stick No Bills', cursive;
    color: white;
}
#elementAtomicPhase{
    position: absolute;
    top: 4.9vh;
    left: 6.2vw;
    /* width: 20%; */
    /* height: 13%; */
    /* background: #434447; */
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font: 15px 'Stick No Bills', cursive;
    color: white;
    text-align: left;
}
#elementAtomicDensity{
    position: absolute;
    top: 8vh;
    left: 6.2vw;
    /* width: 20%; */
    /* height: 19%; */
    /* background: #434447; */
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font: 15px 'Stick No Bills', cursive;
    color: white;
    text-align: left;
}
#chatInputText:focus{
    outline: none;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0px 4px rgba(230, 230, 230, 0.25);
}

#chatTextP{
    text-wrap: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-y: scroll;
    font: 1.5vh 'MuseoModerno', cursive;
    color: white;
    letter-spacing: 0.2em;
}
*::selection{
    transition: 0.3s;
    background: transparent;
    color: #1a67ff;
    text-blink: 0.3s;
}
#chatTextP::-webkit-scrollbar {
    display: none;
}

#chatBox{
    /*    bottom right*/
        position: absolute;
        bottom: 1vh;
        right: 1vh;
        width: 50%;
        overflow-y: scroll;
        height: 20vh;
    /*    make text go from bottom to top*/
        writing-mode: tb-lr;
    
}
#chatInputText{
    background: linear-gradient(139.82deg, rgba(111, 111, 111, 0.64) 6.83%, rgba(171, 171, 171, 0.456) 163.81%);
    border: 1px solid #AAAAAA;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
    color: white;
    font-size: 1.5vh;
    padding: 1vh;
    overflow-y: scroll;
    width: 48%;
    position: fixed;
    bottom: 8px;
    transition: 0.2s;

}
#chatInputText:focus{
    outline: none;
    border: 1px solid #e8e8e8;
    box-shadow: 0 0px 4px rgba(230, 230, 230, 0.25);
}
#chatInputText::placeholder {
    color: white;
    transition: 0.2s;
}
#chatInputText:focus::placeholder {
    color: black;
}